{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/login.css') }}" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
				<form class="form-horizontal well valign" method="POST">
					<input type="hidden" name="csrftoken" value="{{ token }}" />
					<div class="text-danger">{{ error }}</div>
					<div class="form-group">
						<label class="col-sm-4 col-xs-12 control-label">Логин</label>
						<div class="col-sm-8 col-xs-12">
			  				<input type="text" class="form-control" name="login" placeholder="Username" required="required" />
			  			</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 col-xs-12 control-label">Пароль</label>
						<div class="col-sm-8 col-xs-12">
			  				<input type="password" class="form-control" name="password" placeholder="Password" required="required" />
			  			</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-4 col-xs-12">
							<input type="submit" class="btn btn-primary" value="Войти" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}